<aside class="menu">
    <p class="menu-label">作品</p>
    <ul class="menu-list">
        <li>
            <a>保存した作品</a>
        </li>
        <li>
            <a>試し読みした作品</a>
        </li>
    </ul>
    <p class="menu-label">作品を検索</p>
    <ul class="menu-list">
        <li>
            <a>作品検索</a>
        </li>
        <SearchMenu/>
    </ul>
    <p class="menu-label">他サイト</p>
    <ul class="menu-list">
        <li>
            <a>Payments</a>
        </li>
        <li>
            <a>Transfers</a>
        </li>
        <li>
            <a>Balance</a>
        </li>
    </ul>
</aside>