<li>
    <NavLink class="nav-link" href="ranking/daily">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 日間ランキング
    </NavLink>
</li>
<li>
    <NavLink class="nav-link" href="ranking/weekly">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 週間ランキング
    </NavLink>
</li>
<li>
    <NavLink class="nav-link" href="ranking/monthly">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 月間ランキング
    </NavLink>
</li>
<li>
    <NavLink class="nav-link" href="ranking/yearly">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 年間ランキング
    </NavLink>
</li>