name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master
      - 'releases/*'

jobs:
  qodana-front:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.3
        with:
          image: jetbrains/qodana-dotnet:2025.3
          args: >
            --solution NarouApp.sln
            --fail-threshold 1
            --source-directory NarouApp/
            --config qodana-front.yaml
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}

      - name: Install coverage tool
        run: dotnet tool install --global dotnet-coverage

      - name: Run tests
        run: dotnet-coverage collect -f xml -s settings.xml "dotnet test"

      - name: Get coverage
        run: |
          chmod +x ./getCoverage.sh
          ./getCoverage.sh

  qodana-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.3
        with:
          image: jetbrains/qodana-dotnet:2025.3
          args: >
            --solution NarouBackend.sln
            --fail-threshold 1
            --source-directory NarouBackend/
            --config qodana-backend.yaml
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
