name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master
      - 'releases/*'

jobs:
  qodana-front:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
        with:
          dotnet-version: '9.0.x'

      - name: Qodana Scan
        uses: JetBrains/qodana-action@42dad391966aca8ca344ca2340a7f43a5507e9b2
        with:
          args: --property=qodana.net.solution=NarouApp.sln,--fail-threshold,1,--source-directory,NarouApp/,--config,qodana-front.yaml
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}

      - name: install
        run: dotnet tool install --global dotnet-coverage

      - name: test
        run: dotnet-coverage collect -f xml -s settings.xml "dotnet test"

      - name: chmod
        run: sudo chmod +x ./getCoverage.sh

      - name: getCoverage
        run: ./getCoverage.sh

  qodana-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@42dad391966aca8ca344ca2340a7f43a5507e9b2
        with:
          args: --property=qodana.net.solution=NarouBackend.sln,--fail-threshold,1,--source-directory,NarouBackend/,--config,qodana-backend.yaml
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
